{% extends 'base.html'%} {% block content %}
    

    <!-- First Photo Grid-->
    <a href="{% url 'textbooks' %}">
    <div class="w3-row-padding">
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="TODO" alt="TODO" style="width: 100%;" class="w3-hover-opacity" />
            <div class="w3-container w3-white">
                <p><b>Textbooks</b></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>
                </p>
            </div>
        </div>
    </a>
    <a href="{% url 'groups:all' %}">
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="TODO" alt="TODO" style="width: 100%;" class="w3-hover-opacity" />
            <div class="w3-container w3-white">
                <p><b>Notes</b></p>
                
                <ul>
                   <p>Ah! who has time to write notes?</p> 
                   <p> Download some nerd-made notes!
                    And save your time for other 'important' things</p>
                </ul>
            </div>

        </div>
    </a>
    <a href="{% url 'links' %}">
        <div class="w3-third w3-container">
            <img src="TODO" alt="TODO" style="width: 100%;" class="w3-hover-opacity" />
            <div class="w3-container w3-white">
                <p><b> Some Useful links ! </b></p>
                <p>
                    Tech-Blogs,Free online courses and more!
                </p>
                <br><br><br><br>
            </div>
        
        </div>
    </div>
    </a>
    <!-- Second Photo Grid-->
    <a href="{% url 'message' %}">
    <div class="w3-row-padding">
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="TODO" alt="TODO" style="width: 100%;" class="w3-hover-opacity" />
            <div class="w3-container w3-white">
                <p><b>Message Board</b></p>
                <p>
                    Request something,or just say hi....maybe we can be best friends!               
                 </p>
                 <br><br><br><br>
            </div>
        </div>
        
        
    </div>
    </a>
    
    <br />

    <div class="w3-container w3-padding-large" style="margin-bottom: 32px;" id="about">
        <h4><b>About Notesify</b></h4>
        <p>Lorem Ipsum</p>
    </div>
    <!-- Contact Section -->
    <div class="w3-container w3-padding-large w3-teal">
        <h4 id="contribute"><b>Contribute</b></h4>
        <div class="w3-row-padding w3-center w3-padding-24" style="margin: 0 -16px;">
            <div class="w3-third">
                <p><i class="fa fa-github-alt w3-xxlarge w3-text-light-grey"></i></p>
                <p>Improve <a href="https://github.com/Dhruvk1999/notesify">code</a></p>
            </div>
            <div class="w3-third">
                <p><i class="fa fa-file w3-xxlarge w3-text-light-grey"></i></p>
                <p>Share documents</p>
            </div>
            <div class="w3-third">
                <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
                <p>Booty call</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32">
        <div class="w3-row-padding">
            <div class="w3-third">
                <h3>Code contribution</h3>
                <p>
                    Help us improve code if you're familiar with the python web framework django
                </p>
                <p>Or raise an issue about typos</p>
            </div>

            <div class="w3-third">
                <h3>Document sharing</h3>
                <p>
                    Send documents by e-mail. Add details like semester, subject, and type (note/assignment/exam)
                </p>
            </div>

            <div class="w3-third">
                <h3>Made by</h3>
                <p>Coded by Dhruv using smart fridge</p>
                <p>Designed by Abhishek using MS Paint on Windows Bandara</p>
            </div>
        </div>
    </footer>

    <div class="w3-black w3-center w3-padding-24">
        Notesify | Notes Sharing Webapp
    </div>

    <!-- End page content -->
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
{% endblock %}